.AddTaskForm-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.96);

    width: 330px;
}

.titleTaskDataTask-container, 
.typeTaskBriefDecriptionTask-container
{
    height: 70px;
}

.titleTaskDataTask-container, 
.typeTaskBriefDecriptionTask-container,
.buttonsAddCancelTask-container
{
    display: flex;
    flex-direction: row;
}



.titleTask-container, 
.dataTask-container, 
.typeTask-container,
.briefDescriptionTask-container
{
    display: flex;
    flex-direction: column;
    margin-right: 10px
}

.descriptionTask-container
{
    display: flex;
    flex-direction: column;
    height: 131.400px;
}